# Server Configuration
PORT=8000
CORS_ALLOWED_ORIGINS="*"
ENVIRONMENT="development"

# Model Configuration
# Change to "models/model.onnx" to test unoptimized performance
MODEL_PATH="models/model_quantized.onnx"
